
<%= form_for @recipe do |f| %>
  <%= f.text_field :title, placeholder: :Title %><br>
  <%= f.text_area :instructions, placeholder: :Instructions %><br>
  <%= f.file_field :image %><br>
  <%= f.submit %>
<% end %>
<h1>Listing Recipes</h1>
<div id="recipes-con">

</div>

